<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Stoffi' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ed1d1a7b-4c8f-4fba-a5e7-c285c3ab2102</InstrumentationKey>
</ApplicationInsights>